<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fulhaus Tech Test</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap">
    <!-- bootstrap linked-->
    <link rel="stylesheet" href="./css/bootstrap.css" />

</head>

<body>
    {{> header}}
    <div class="banner">
        <div class="main_content">
            <img class="banner_img" src="./img/patio.jpg" alt="banner">
            <div class="button-div">
                <div class="topic">Patio Furniture</div>
                <button class="button" type="button" name="button">SHOP</button>
            </div>
            <div class="container-fluid  m-0  align-items-center  justify-content-center d-flex"
                style="min-height: 100vh;padding:40px;">


                <!-- Row start for the card-->
                <div class="row w-100 p-0 w-0">
                    <!-- Column start for card-->
                    {{#if hasprod}}
                    {{#each prod}}
                    <div class="col-lg-4 mb-2">
                        <div class="card mx-auto" style="width:24rem;">
                            <div class="content_img">
                                <img class="card-img-top" src={{productURLs}} alt="Card image cap">
                                <div class="card mx-auto" id="cardbody" style="width:24rem;">
                                    <div class="prod_name">{{productName}}</div>
                                    <div class="brand_name">{{brandName}}</div>
                                    <div class="aParent">
                                        <div class="addtocart">
                                            <span>+ Add to Cart</span>

                                        </div>
                                        <div class="price">
                                            <span>${{productPrice}}</span>

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    {{else}}
                <p>no row found</p>
                {{/each}}
                    <!-- Column end for card-->
                </div>
                <!-- Row end for the card-->
                
                {{else}}
                <p>No data</p>
                {{/if}}
            </div>


        </div>

    </div>

</body>

</html>